#grad {
    background-image: linear-gradient(#7AD7F0, #92DFF3, #B7E9F7, #DBF3FA, #F5FCFF);
  }

.body{
    min-height: 100vh;
    position: relative;
}

.container{
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}